.call-block {
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: var(--card-seconday-color);
    border-radius: 12px;
    width: 240px;
    position: relative;
    overflow: visible;
}

.call-block::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: 12px;
    z-index: -1;
}

.call-block .animated-dot {
    position: absolute;
    width: 5px;
    height: 1px;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    /* Используем path для анимации */
    offset-path: path('M12,0 H228 A12,12 0 0 1 240,12 V47 A12,12 0 0 1 228,59 H12 A12,12 0 0 1 0,47 V12 A12,12 0 0 1 12,0 Z');
    offset-rotate: auto;
    offset-distance: 0%;
}

.call-block:hover .animated-dot {
    opacity: 1;
    animation: move-on-path 3s linear infinite;
}

.call-block:hover {
    background: rgb(31, 31, 31);
    cursor: pointer;
}